html, body {
    background-color: #292929;
    height: 100%;
    color: #292929;
    margin: 0;
    padding: 0;
}

.no-border {
    border: none;
}

#sputnik-content-container {
    background-color: #8F9E8B;
}

#sputnik-servers-form {
    background-color: #5B7876;
    margin: 2px;
    padding: 8px;
}

.server-container {
    background-color: #F2E6B6;
    margin: 4px 0px 12px 0px;
}

.server-container-disabled {
    background-color: #5C5A54;
}

.server-title {
    font-size: 14pt;
    background-color: #412A22;
}

.input-title {
    font-size: 12pt;
}

input[type="text"].disabled {
    color: #646464;
    background-color: #ACACAC;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
